@use "sass:map";
@use "../../../style/pages/all";
@use "../../../style/pages/theme";


.orders{
    background: #fff;
    border-radius: 8px;

    h2{
        margin-bottom: 30px;
        color: map.get(theme.$theme-colors, "normal-text");

    }
    &__table{
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;

        th, td{
            text-align: center;
            vertical-align: middle;
        }
    }
}

