@use "sass:map";
@use "../../../style/pages/all";
@use "../../../style/pages/theme";


.container__categories_slides {
    max-width: 1200px !important;

    .categories_slides {
        margin-left: 15px !important;

        .categories_slides_item {
            height: 470px !important;
            background-size: cover !important;
        }
    }
}

.featured {

    .featured__item {
        .featured__item__pic {
            position: relative;
            overflow: hidden;

            .featured__item__pic__hover {
                position: absolute;
                left: 0;
                right: 0;
                bottom: -30px; // ẩn dưới
                display: flex;
                justify-content: center;
                gap: 0px;

                opacity: 0;
                transform: translateY(30px); // dịch xuống
                transition: all 0.3s ease; // hiệu ứng mượt
            }

            &:hover {
                .featured__item__pic__hover {
                    opacity: 1;
                    transform: translateY(0); // chạy lên
                }
            }
        }



    }

    .section-title {
        margin-bottom: 50px;
        text-align: center;
    }

    h2 {
        position: relative;
    }

    h2:after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        width: 600px;
        height: 7px;
        background: map.get(theme.$theme-colors, "main");
        content: "";
        margin: 0 auto;
    }


    .react-tabs {
        ul {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }

        li {
            position: relative;
            font-size: 18px;
            color: map.get(theme.$theme-colors, "normal-text");
            display: inline-block;
            margin-right: 25px;
            cursor: pointer;

        }
    }

}

.banner__pic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
    padding: 0 22px;

    & > * {
        width: 100%;
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 16px;
        box-shadow: 0 15px 35px rgba(15, 23, 42, 0.15);
    }
}
