@use "sass:map";
@use "../../../style/pages/theme";

.row {
    display: flex; // 2 khối nằm ngang
    align-items: stretch;

    .product__detail__pic {
        flex: 0 0 45%;
        right: -20px;
        border-right: 2px solid #eee;
        padding-left: 55px;
        padding-top: 40px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .main {
            flex: 0 0 50%;
            display: grid;
            align-items: stretch;

            img {
                width: 70%;
                object-fit: cover;
            }
        }
    }

    .product__detail__text {
        flex: 1;
        padding-left: 40px;

        h2 {
            color: #252525;
            font-weight: 700;
        }

        .product__name {
            white-space: nowrap; // giữ trên 1 dòng
            overflow: hidden; // ẩn chữ tràn
            text-overflow: ellipsis; // nếu quá dài hiển thị "..."
            margin-right: 0; // bỏ margin quá lớn
            text-align: left;
        }

        h3 {
            margin-left: 10px;
        }

        .see-icon {
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 30px;
            column-gap: 5px;
            margin-left: 10px;
        }

        .product__options {
            margin: -20px 0 20px 0;
        
            p {
                margin-bottom: 10px;
                font-weight: 500;
            }

            .options {
                display: flex;
                gap: 10px;

                .option {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    input[type="radio"] {
                        display: none; // ẩn radio mặc định
                    }

                    span {
                        padding: 8px 16px;
                        border: 2px solid #ccc;
                        border-radius: 8px;
                        transition: all 0.2s;
                    }

                    input[type="radio"]:checked+span {
                        background: map.get(theme.$theme-colors, "main");
                        color: #fff;
                        border-color: map.get(theme.$theme-colors, "normal-text");;
                    }
                }
            }
        }


        ul {
            margin: 20px 0;
            border-top: 2px solid #eee;
            padding-top: 20px;

            li {
                list-style: none;
                display: flex;
                column-gap: 20px;
                line-height: 35px;

                b {
                    width: 150px;

                }

                span {
                    display: flex;
                    column-gap: 10px;
                    align-items: center;

                    svg {
                        font-size: 30px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}