@use "sass:map";
@use "sass:color";
@use "../../../../style/pages/theme";

.footer {
  background: #F3F6FA;
  padding-top: 40px;

  .footer__about {
    .footer__about__logo {
      margin-bottom: 15px;
      display: inline-block;

      img.logo {
        height: 80px;
        padding-left: 35px;
      }
    }

    h3 {
      font-size: 16px;
      margin-bottom: 10px;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        font-size: 14px;
        color: map.get(theme.$theme-colors, "normal-text");
        line-height: 36px;
        list-style: none;
      }
    }
  }

  .footer__widget {
    overflow: hidden;
    h6 {
      color: map.get(theme.$theme-colors, "normal-text");
      
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    form {
      margin-bottom: 30px;

      .input-group {
        display: flex;
        align-items: center;

        input {
          width: 100%;
          font-size: 16px;
          padding-left: 20px;
          height: 46px;
          border: 1px solid #ededed;
          color: map.get(theme.$theme-colors, "normal-text");

          ::placeholder {
            color: map.get(theme.$theme-colors, "normal-text");
          }
        }

        button {
          padding: 0 26px;
          height: 46px;
          min-width: max-content;
          letter-spacing: 2px;
          cursor: pointer;
        }
      }
    }

    ul {
      float: left;
      width: 50%;
      padding: 0;

      li {
        list-style: none;
        white-space: nowrap;
        width: auto;
      }

      a {
        color: map.get(theme.$theme-colors, "normal-text");
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;

        &:hover {
          color: map.get(theme.$theme-colors, "main");
        }
      }
    }
  }
//
  .footer__widget__bonus {
    overflow: hidden;   
    margin-left: 60px;
    h6 {
      color: map.get(theme.$theme-colors, "normal-text");
      
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
    }

    form {
      margin-bottom: 30px;

      .input-group {
        display: flex;
        align-items: center;

        input {
          width: 100%;
          font-size: 16px;
          padding-left: 20px;
          height: 46px;
          border: 1px solid #ededed;
          color: map.get(theme.$theme-colors, "normal-text");

          ::placeholder {
            color: map.get(theme.$theme-colors, "normal-text");
          }
        }

        button {
          padding: 0 26px;
          height: 46px;
          min-width: max-content;
          letter-spacing: 2px;
          cursor: pointer;
        }
      }
    }

    ul {
      float: left;
      width: 50%;
      padding: 0;

      li {
        list-style: none;
        white-space: nowrap;
        width: auto;
      }

      a {
        color: map.get(theme.$theme-colors, "normal-text");
        font-size: 14px;
        line-height: 32px;
        text-decoration: none;

        &:hover {
          color: map.get(theme.$theme-colors, "main");
        }
      }
    }
  }
//
  /* Social Icons */
  .footer__widget__social {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #ededed;
      border-radius: 50%;
      background: #ffffff;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: map.get(theme.$theme-colors, "main");

        svg {
          color: #ffffff;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        color: #404040;
      }
    }
  }

  .footer__copyright {
    clear: both;
    margin-top: 40px;

    $main: map.get(theme.$theme-colors, "main");
    background: color.scale($main, $lightness: -30%);
    border-top: 1px solid color.scale($main, $lightness: 20%);

    .container {
      padding: 15px 0;
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 14px;
      letter-spacing: 0.3px;
      color: rgba(#fff, 0.75);
    }
  }
}
